<h2 class="page-title">Survey</h2>
<mat-card>
    <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <h4 class="list-title">Basic Information </h4>
        <mat-form-field class="full-width">
            <input formControlName="name" matInput placeholder="Enter Full Name" maxlength="50" [required]="true">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input formControlName="email" matInput placeholder="Enter Email" maxlength="50" [required]="true">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input formControlName="phone" matInput placeholder="Enter Phone Number" maxlength="50" [required]="true">
        </mat-form-field>

        <!-- <mat-form-field class="full-width">
            <mat-select formControlName="gender" placeholder="Select Type" [required]="true">
                <mat-option *ngFor="let gen of gender" [value]="gen.value">
                    {{gen.value}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->

        <!-- <mat-slide-toggle formControlName="IsAnonymous" class="mb-10">Make survey anonymous </mat-slide-toggle> -->
        <div class="survey-options">
            <div formArrayName="questionnaires" class="poll-options">
                <h3 class="list-title">Survey Questions </h3>
                <ol class="list-style">
                    <li *ngFor="let questionCtrl of surveyForm?.get('questionnaires')['controls']; let i = index">
                        <div [formGroupName]="i">
                            <div>
                                <mat-form-field class="full-width">
                                    <input formControlName="questiontitle" maxlength="200" matInput
                                        placeholder="Question title" [required]="true">
                                </mat-form-field>
                                <div formGroupName="questionGroup" [ngSwitch]="questionDetails?.type">
                                    <div *ngSwitchCase="'Agree/ Disagree'">
                                        <div *ngIf="questionCtrl?.controls?.questionGroup?.controls?.options">
                                            <ul class="question-type" formArrayName="options">
                                                <li
                                                    *ngFor="let optionCtrl of questionCtrl?.controls?.questionGroup?.controls?.options?.controls let j = index">
                                                    <div [formGroupName]="j">
                                                        <mat-form-field>
                                                            <input formControlName="optionText" matInput
                                                                placeholder="option text" maxlength="100"
                                                                [required]="true">
                                                        </mat-form-field>
                                                        <!-- <button *ngIf="j>=2" (click)="removeOption(i,j)" color="warn">X
                                                        </button> -->
                                                    </div>
                                                </li>
                                            </ul>
                                            <!-- <button mat-raised-button type="button" (click)="addOption(i)"
                                                class="mat-sm-button add-option-btn" color="accent"> Add option</button> -->
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'Multiple choice'">
                                        <div *ngIf="questionCtrl?.controls?.questionGroup?.controls?.options">
                                            <ul class="question-type" formArrayName="options">
                                                <li
                                                    *ngFor="let optionCtrl of questionCtrl?.controls.questionGroup?.controls.options?.controls let j = index">
                                                    <div [formGroupName]="j">
                                                        <mat-form-field>
                                                            <input formControlName="optionText" matInput
                                                                placeholder="option text" maxlength="100"
                                                                [required]="true">
                                                        </mat-form-field>

                                                        <!-- <button mat-raised-button *ngIf="j>=2"
                                                            (click)="removeOption(i,j)" color="warn">
                                                            X
                                                        </button> -->

                                                    </div>
                                                </li>
                                            </ul>
                                            <!-- <button mat-raised-button type="button" (click)="addOption(i)"
                                                class="mat-sm-button add-option-btn" color="accent"> Add option</button> -->
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'Short Answer'">
                                        <mat-form-field class="full-width">
                                            <textarea formControlName="shortAnswerText" style="resize: none;" matInput
                                                placeholder="Textarea"></textarea>
                                        </mat-form-field>

                                    </div>

                                </div>

                            </div>
                            <!-- <button *ngIf="i>0" mat-mini-fab color="warn" type="button" (click)="onRemoveQuestion(i)"
                                class="poll-remove-btn">
                                X
                            </button> -->
                        </div>
                    </li>
                </ol>
                <div fxLayout="row" fxLayoutAlign="end">
                    <!-- <button type="button" mat-raised-button (click)="onAddQuestion()">
                        Add Question
                    </button> -->
                </div>
            </div>
        </div>
        <div class="button-row">
            <button class="full-width" color="primary" type="submit" mat-raised-button>
                <span>Submit Survey</span>
                <!--
                <span *ngIf="editMode">Update Survey</span> -->
            </button>
        </div>
    </form>
</mat-card>